body{
    margin: 0;
}

.main-container{
    position: absolute;
    height: 100%;
    width: 100%;
}

.background{
    position: fixed;
    height: 100%;
    width: 100%;
    filter: blur(5px);
    z-index: -1;
}

.heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -120%);

    font-size: 5rem;
    font-family: 'Pinyon Script', cursive;
}

.view-watches{
    cursor: pointer;
    font-family: 'Pinyon Script', cursive;
    left: 50%;
    transform: translate(-50%);
    font-size: 5rem;
    position: absolute;
}

.watches{
    position: fixed;
    /*height: 80vh;*/
    width: 70vw;
    top: 20vh;

    margin-left: 15vw;
    /*margin-right: auto;*/

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.collection-watch{
    transition-duration: .5s;
}
.collection-watch:hover {
    z-index: 10;
    margin-left: 10%;
    margin-right: 10%;
}