<div class="main-container">
    <img class="background" src="./img/frank-park-39270.jpg">
    <!--<header>-->
    <!--<h2 class="heading">My Watch Collection</h2>-->
    <!--</header>-->
    <nav>
        <ul>
            <li>watches</li>
            <li>add a new watch</li>
        </ul>
    </nav>
    <div class="main-content">
        <div class="add-watch">
            <h4>Add Watch</h4>
            <form>
                <input type="text" placeholder="watch make" ng-model="newWatch.make"><br>
                <input type="text" placeholder="watch model" ng-model="newWatch.model"><br>
                <input type="text" placeholder="description" ng-model="newWatch.description"><br>
                <input type="text" placeholder="image link" ng-model="newWatch.imageLink"><br>
                <button ng-click="addWatch(newWatch)">Add Watch</button>

            </form>
        </div>
        <div class="watches">
            <h2 class="view-watches" ng-click="getWatches()">View Watches</h2>
            <ul ng-repeat="watch in watches">
                <li>
                    <h5>{{watch.make}}</h5><br>
                    <h6>{{watch.model}}</h6><br>
                    <p>{{watch.description}}</p><br>
                    <p>{{watch.info}}</p>
                    <img src="{{watch.image_link}}" ng-click="showWatchInfo(watch.watch_id)"><br>
                    <div ng-hide="watch.hideInfo">
                        <p>
                            YO!!
                        </p>
                        <button ng-click="info = !info">Edit Watch Info</button>
                        <div ng-hide="info">
                            <input placeholder="watch info" ng-model="newWatchInfo">
                            <button ng-click="changeWatchInfo(watch.watch_id, newWatchInfo)">Submit Changes</button>
                        </div>
                    </div>
                    <button ng-click="deleteWatch(watch.watch_id)">Delete this watch</button><br>
                </li>
            </ul>
        </div>
    </div>

</div>