<div class="main-container">
    <img class="background" src="./img/frank-park-39270.jpg">
    <!--<header>-->
    <!--<h2 class="heading">My Watch Collection</h2>-->
    <!--</header>-->
    <nav>
        <ul>
            <li>watches</li>
            <li>add a new watch</li>
        </ul>
    </nav>
    <div class="main-content">
        <div class="add-watch">
            <h4>Add Watch</h4>
            <form>
                <input type="text" placeholder="watch make" ng-model="newWatch.make"><br>
                <input type="text" placeholder="watch model" ng-model="newWatch.model"><br>
                <input type="text" placeholder="description" ng-model="newWatch.description"><br>
                <input type="text" placeholder="image link" ng-model="newWatch.imageLink"><br>
                <button ng-click="addWatch(newWatch)">Add Watch</button>

            </form>
        </div>

    </div>

</div>